<?xml version="1.0" encoding="UTF-8"?>
<server description="Tutorial server">
    <featureManager>
        <feature>cdi-2.0</feature>
        <feature>appSecurity-3.0</feature> <!-- Enable this feature for cdi extensions-->
        <feature>ejbLite-3.2</feature>
    </featureManager>

    <basicRegistry id="basic" realm="BasicRealm"/>
    <httpSession securityIntegrationEnabled="false"/>
    <httpEndpoint id="defaultHttpEndpoint" host="${default.hostname}" httpPort="${default.http.port}"
                  httpsPort="${default.https.port}">
        <httpOptions http2="enabled"/>
    </httpEndpoint>
    <webContainer disableXPoweredBy="true"/>
</server>
