<?xml version="1.0" encoding="UTF-8"?>
<server description="Tutorial server">
    <featureManager>
        <feature>enterpriseBeansLite-4.0</feature>
        <feature>cdi-3.0</feature>
        <feature>concurrent-2.0</feature>
        <feature>restfulWS-3.0</feature>
        <feature>json-1.0</feature>
        <feature>jsonb-2.0</feature>
        <feature>jsonp-2.0</feature>
    </featureManager>

    <basicRegistry id="basic" realm="BasicRealm"/>
    <httpSession securityIntegrationEnabled="false"/>
    <httpEndpoint id="defaultHttpEndpoint" host="${default.hostname}" httpPort="${default.http.port}"
                  httpsPort="${default.https.port}">
        <httpOptions http2="enabled"/>
    </httpEndpoint>
    <webContainer disableXPoweredBy="true"/>
</server>
